@{
    ViewData["Title"] = "Welcome";
}

@section Css
{
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
}

@section Scripts
{
	<script src="/dist/home.js"></script>
}

<div id='app'></div>
