@model RegisterUserViewModel

<form method="POST" asp-are="Api" asp-controller="Users" asp-action="Add">
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" type="text" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Password</label>
        <input asp-for="Password" type="password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label">Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">First name</label>
        <input asp-for="FirstName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Last name</label>
        <input asp-for="LastName" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="NickName" class="control-label">Nick name</label>
        <input asp-for="NickName" type="text" class="form-control">
        <span asp-validation-for="NickName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
</form>