/* Custom bulma color palete */

$turquoise: #3F51B5; //$turquoise: #673AB7;
$red: hsl(348, 100%, 61%) !default;
$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;
$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 60%) !default;
$grey-lighter: hsl(0, 0%, 70%) !default;